/* Universal Style */
* {
    font-family: "roboto", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #dfe1e6;
}


/* Header Style */
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 75px;
}

/* Mainbar */
.mainbar {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    padding: 15px;
}

.main_links ul {
    display: flex;
    gap: 30px;
    padding: 15px;
    margin-right: 20px;
}

/* Content for Header */
.head_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-shrink: 0;
    margin: 30px;

}


.info, .main_links {
    font-size: 18px;
    color: #dfe1e6;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

#top {
    font-size: 48px;
    color: #F9FAF8;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F9FAF8;
}

.cover img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#bottom button {
    padding: 5px;
    background-color: aquamarine;
}

/* Information Style */
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 75px; 
    gap: 50px;
}

.list_title {
    font-size: 36px;
    color: #1F2937
    font-weight: 900px;
}

.container {
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
}

.item img {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 25%
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
}